---
import MediumButton from "./MediumButton.astro";
const { name, image, desc, mediumLink, link } = Astro.props;
---

<div class="article__card w-full mb-8">
	<div
		class="mobile:px-10 py-8 px-20 min-h-[235px] shadow-gray-950 shadow-lg ring-slate-900 ring-2 rounded-md mt-6 bg-gradient-to-br from-indigo-900 via-indigo-950 to-slate-950 bg-opacity-50 text-gray-200"
	>
		<h3 class="text-4xl text-start font-mono font-semibold">{name}</h3>
		<!-- content -->
		<div class="flex justify-center items-center mobile:my-3">
			<img
				class="my-8 me-8 inline-block rounded-md opacity-90"
				src={image}
				width="100"
				height="100"
				alt={name}
			/>
			<p class="mobile:w-full">
				{desc.length > 100 ? desc.substr(0, 100) + "..." : desc}
			</p>
		</div>
		<!-- buttons -->
		<div class="flex justify-evenly">
			<MediumButton link={mediumLink} />
			<a class="btn__blog" href={link}>Read here</a>
		</div>
	</div>
</div>
<style>
	.btn__blog {
		border: 1px solid rgb(92, 92, 94);
		font-size: 1.2rem;
		box-shadow: inset 0 0 0 0 rgb(16, 14, 46);
		color: rgb(130, 130, 136);
		margin: 0 -0.25rem;
		padding: 0.8rem 1.5rem;
		border-radius: 9999px;
		transition: all 0.3s ease-in, box-shadow 0.5s ease-in-out;
	}
	.btn__blog:hover {
		box-shadow: inset 100px 0 0 0 rgb(16, 14, 46);
		color: rgb(229 231 235);
		border: 1px solid rgb(145, 145, 150);
	}
</style>
